/* ==================== BASE ==================== */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: white;
}

a:active,
a:hover {
  color: var(--orange);
}

img {
  max-width: 100%;
  height: auto;
}

/* ================ VARIABLES CSS ================ */
:root {
  --orange: #ed5900;
  --h2--gray: #b1b1b1;
  --p-gray: #4f4f51;
  --separator-gray: #cacaca;
  --form-gray: #ececec;
  --bg-footer: #4f4f51;
}

/* ==================== HEADER =================== */

.header-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px 250px;
}
.social-icons {
  display: flex;
}

.social-icons > li {
  padding: 5px;
}

.social-icons > li > a > i {
  color: var(--orange);
}

/* ========== SEPARATOR IMAGE ========== */

.separator-image {
  background-image: url("/img/separator-image.png");
  background-size: auto;
  width: 100%;
  height: 145px;
}

/* ====== CONTAINER ====== */

.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 60px 250px 0 250px;
}

.content-wrapper__header {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 32px;
}

/* ===== EBOOK ===== */

.content-wrapper__header > img {
  position: relative;
  top: -100px;
}

/* ===== TITLES ===== */

.content-wrapper__titles {
  display: flex;
  flex-direction: column;
}

.content-wrapper__titles > h1 {
  color: var(--orange);
  padding-bottom: 60px;
  border-bottom: 1px solid var(--separator-gray);
}

.content-wrapper__titles > h2 {
  color: var(--h2--gray);
  padding-top: 40px;
}

/* ===== BODY TEXT ===== */

.content-wrapper > p {
  margin-top: -50px;
}

.content-wrapper > p > a {
  color: var(--orange);
  text-decoration: underline;
}

/* ===== EMPHASIZES ===== */

.emphasizes {
  color: var(--orange);
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  margin: 50px 0;
}

/* ========== ASIDE ========== */

/* ===== FORM ===== */
.form-container {
  background-color: var(--form-gray);
  padding: 32px;
}

.form-container > h3 {
  text-transform: uppercase;
  color: var(--orange);
  font-size: 0.75rem;
  margin-bottom: 30px;
}

.form-container > button {
  background-color: var(--orange);
  width: 100%;
  padding: 10px 0;
  border: none;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

.form-container > fieldset {
  border: none;
  padding-bottom: 10px;
}

.form-container > fieldset > input {
  border: 1px solid var(--h2--gray);
  padding: 10px;
  margin-bottom: 10px;
}

.form-container > fieldset > input::placeholder {
  color: var(--p-gray);
}

.form-container > fieldset > label {
  font-size: 0.75rem;
  border: none;
  color: var(--p-gray);
}

.form-container > fieldset > label > input {
  border: none;
}

.form-container > fieldset > label > a {
  color: var(--orange);
}

/* ========== FOOTER ========== */

.footer-frame {
  background-color: var(--bg-footer);
  padding: 60px 250px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/* ===== LEGAL MENU ===== */

.footer-frame__links {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  align-items: center;
}

.footer-frame__links > nav > ul {
  display: flex;
  padding-left: 20px;
}

.footer-frame__links > nav > ul > li {
  padding: 0 20px;
}

/* ===== COPYRIGHT ===== */

.footer-frame__links > small {
  color: white;
  font-size: 1rem;
}

/* ========== POPUP ========== */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0, 0.5);
}

.caption {
  background: var(--form-gray);
  width: 50%;
  padding: 30px;
  border-radius: 5px;
  position: absolute;
  top: 35%;
  left: 25%;
  animation: 0.5s drop;
  box-shadow: -1px 2px 21px 26px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -1px 2px 21px 26px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -1px 2px 21px 26px rgba(0, 0, 0, 0.25);
}

.caption > p {
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--p-gray);
  margin-top: 10px;
}

.popup__logotype {
  display: block;
  margin: 20px auto;
}

@keyframes drop {
  0% {
    top: -100%;
  }

  100% {
    top: 35%;
  }
}

#close {
  font-size: 1.25rem;
  color: var(--p-gray);
}

/* =========== MEDIA QUERIES =========== */

/* ==== max-width: 1400px ==== */

@media screen and (max-width: 1400px) {
  .header-container {
    margin: 30px 150px;
  }

  .wrapper {
    margin: 60px 150px 0 150px;
  }

  .footer-frame {
    padding: 60px 150px;
  }
}

/* ==== max-width: 1225px ==== */

@media screen and (max-width: 1225px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .content-wrapper__header > p {
    margin-top: 0px;
  }

  .form-container {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .form-container > fieldset {
    display: flex;
    flex-direction: column;
  }

  .footer-frame {
    padding: 60px 150px;
  }
}

/* ==== max-width: 1025px ==== */

@media screen and (max-width: 1025px) {
  .header-container {
    margin: 30px 100px;
  }

  .wrapper {
    margin: 60px 100px 0 100px;
  }

  .footer-frame {
    padding: 60px 100px;
  }

  .footer-frame__links > nav > ul {
    padding-left: 10px;
  }

  .footer-frame__links > nav > ul > li {
    padding: 0 10px;
  }
}

/* ==== max-width: 870px ==== */

@media screen and (max-width: 870px) {
  .header-container {
    margin: 30px 50px;
  }

  .wrapper {
    margin: 60px 50px 0 50px;
  }

  .footer-frame {
    padding: 60px 50px;
  }
}

/* ==== max-width: 765px ==== */

@media screen and (max-width: 765px) {
  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .social-icons {
    margin-top: 20px;
  }

  .content-wrapper__header {
    display: flex;
    flex-direction: column-reverse;
    padding-right: 0;
    text-align: center;
  }

  .content-wrapper__header > img {
    position: inherit;
    margin: 10px auto;
    width: 250px;
  }

  .content-wrapper__titles > h1 {
    padding: 20px 0;
  }

  .content-wrapper__titles > h2 {
    padding: 20px 0;
  }

  .content-wrapper > p {
    margin-top: 0px;
    text-align: center;
  }

  .footer-frame {
    display: flex;
    flex-direction: column-reverse;
    padding: 60px 10px;
  }

  .footer-frame__links {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 100%;
  }

  .footer-frame__links > small {
    margin: 10px 0;
  }

  .caption > p {
    font-size: 1rem;
    margin-top: 20px;
  }
}

/* ==== max-width: 400px ==== */

@media screen and (max-width: 400px) {
  .wrapper {
    margin: 60px 10px 0 10px;
  }

  .footer-frame__links > nav > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .footer-frame__links > nav > ul > li {
    margin: 5px 0;
  }

  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
  }

  .caption {
    width: 70%;
    padding: 20px;
  }
}
